:root {
	--xkcd_cloudyblue: #acc2d9;
	--xkcd_darkpastelgreen: #56ae57;
	--xkcd_dust: #b2996e;
	--xkcd_electriclime: #a8ff04;
	--xkcd_freshgreen: #69d84f;
	--xkcd_lighteggplant: #894585;
	--xkcd_nastygreen: #70b23f;
	--xkcd_reallylightblue: #d4ffff;
	--xkcd_tea: #65ab7c;
	--xkcd_warmpurple: #952e8f;
	--xkcd_yellowishtan: #fcfc81;
	--xkcd_cement: #a5a391;
	--xkcd_darkgrassgreen: #388004;
	--xkcd_dustyteal: #4c9085;
	--xkcd_greyteal: #5e9b8a;
	--xkcd_macaroniandcheese: #efb435;
	--xkcd_pinkishtan: #d99b82;
	--xkcd_spruce: #0a5f38;
	--xkcd_strongblue: #0c06f7;
	--xkcd_toxicgreen: #61de2a;
	--xkcd_windowsblue: #3778bf;
	--xkcd_blueblue: #2242c7;
	--xkcd_bluewithahintofpurple: #533cc6;
	--xkcd_booger: #9bb53c;
	--xkcd_brightseagreen: #05ffa6;
	--xkcd_darkgreenblue: #1f6357;
	--xkcd_deepturquoise: #017374;
	--xkcd_greenteal: #0cb577;
	--xkcd_strongpink: #ff0789;
	--xkcd_bland: #afa88b;
	--xkcd_deepaqua: #08787f;
	--xkcd_lavenderpink: #dd85d7;
	--xkcd_lightmossgreen: #a6c875;
	--xkcd_lightseafoamgreen: #a7ffb5;
	--xkcd_oliveyellow: #c2b709;
	--xkcd_pigpink: #e78ea5;
	--xkcd_deeplilac: #966ebd;
	--xkcd_desert: #ccad60;
	--xkcd_dustylavender: #ac86a8;
	--xkcd_purpleygrey: #947e94;
	--xkcd_purply: #983fb2;
	--xkcd_candypink: #ff63e9;
	--xkcd_lightpastelgreen: #b2fba5;
	--xkcd_boringgreen: #63b365;
	--xkcd_kiwigreen: #8ee53f;
	--xkcd_lightgreygreen: #b7e1a1;
	--xkcd_orangepink: #ff6f52;
	--xkcd_teagreen: #bdf8a3;
	--xkcd_verylightbrown: #d3b683;
	--xkcd_eggshell: #fffcc4;
	--xkcd_eggplantpurple: #430541;
	--xkcd_powderpink: #ffb2d0;
	--xkcd_reddishgrey: #997570;
	--xkcd_babyshitbrown: #ad900d;
	--xkcd_liliac: #c48efd;
	--xkcd_stormyblue: #507b9c;
	--xkcd_uglybrown: #7d7103;
	--xkcd_custard: #fffd78;
	--xkcd_darkishpink: #da467d;
	--xkcd_deepbrown: #410200;
	--xkcd_greenishbeige: #c9d179;
	--xkcd_manilla: #fffa86;
	--xkcd_offblue: #5684ae;
	--xkcd_battleshipgrey: #6b7c85;
	--xkcd_brownygreen: #6f6c0a;
	--xkcd_bruise: #7e4071;
	--xkcd_kelleygreen: #009337;
	--xkcd_sicklyyellow: #d0e429;
	--xkcd_sunnyyellow: #fff917;
	--xkcd_azul: #1d5dec;
	--xkcd_darkgreen: #054907;
	--xkcd_greenyellow: #b5ce08;
	--xkcd_lichen: #8fb67b;
	--xkcd_lightlightgreen: #c8ffb0;
	--xkcd_palegold: #fdde6c;
	--xkcd_sunyellow: #ffdf22;
	--xkcd_tangreen: #a9be70;
	--xkcd_burple: #6832e3;
	--xkcd_butterscotch: #fdb147;
	--xkcd_toupe: #c7ac7d;
	--xkcd_darkcream: #fff39a;
	--xkcd_indianred: #850e04;
	--xkcd_lightlavendar: #efc0fe;
	--xkcd_poisongreen: #40fd14;
	--xkcd_babypukegreen: #b6c406;
	--xkcd_brightyellowgreen: #9dff00;
	--xkcd_charcoalgrey: #3c4142;
	--xkcd_squash: #f2ab15;
	--xkcd_cinnamon: #ac4f06;
	--xkcd_lightpeagreen: #c4fe82;
	--xkcd_radioactivegreen: #2cfa1f;
	--xkcd_rawsienna: #9a6200;
	--xkcd_babypurple: #ca9bf7;
	--xkcd_cocoa: #875f42;
	--xkcd_lightroyalblue: #3a2efe;
	--xkcd_orangeish: #fd8d49;
	--xkcd_rustbrown: #8b3103;
	--xkcd_sandbrown: #cba560;
	--xkcd_swamp: #698339;
	--xkcd_tealishgreen: #0cdc73;
	--xkcd_burntsiena: #b75203;
	--xkcd_camo: #7f8f4e;
	--xkcd_duskblue: #26538d;
	--xkcd_fern: #63a950;
	--xkcd_oldrose: #c87f89;
	--xkcd_palelightgreen: #b1fc99;
	--xkcd_peachypink: #ff9a8a;
	--xkcd_rosypink: #f6688e;
	--xkcd_lightbluishgreen: #76fda8;
	--xkcd_lightbrightgreen: #53fe5c;
	--xkcd_lightneongreen: #4efd54;
	--xkcd_lightseafoam: #a0febf;
	--xkcd_tiffanyblue: #7bf2da;
	--xkcd_washedoutgreen: #bcf5a6;
	--xkcd_brownyorange: #ca6b02;
	--xkcd_niceblue: #107ab0;
	--xkcd_sapphire: #2138ab;
	--xkcd_greyishteal: #719f91;
	--xkcd_orangeyyellow: #fdb915;
	--xkcd_parchment: #fefcaf;
	--xkcd_straw: #fcf679;
	--xkcd_verydarkbrown: #1d0200;
	--xkcd_terracota: #cb6843;
	--xkcd_uglyblue: #31668a;
	--xkcd_clearblue: #247afd;
	--xkcd_creme: #ffffb6;
	--xkcd_foamgreen: #90fda9;
	--xkcd_greygreen: #86a17d;
	--xkcd_lightgold: #fddc5c;
	--xkcd_seafoamblue: #78d1b6;
	--xkcd_topaz: #13bbaf;
	--xkcd_violetpink: #fb5ffc;
	--xkcd_wintergreen: #20f986;
	--xkcd_yellowtan: #ffe36e;
	--xkcd_darkfuchsia: #9d0759;
	--xkcd_indigoblue: #3a18b1;
	--xkcd_lightyellowishgreen: #c2ff89;
	--xkcd_palemagenta: #d767ad;
	--xkcd_richpurple: #720058;
	--xkcd_sunfloweryellow: #ffda03;
	--xkcd_greenblue: #01c08d;
	--xkcd_leather: #ac7434;
	--xkcd_racinggreen: #014600;
	--xkcd_vividpurple: #9900fa;
	--xkcd_darkroyalblue: #02066f;
	--xkcd_hazel: #8e7618;
	--xkcd_mutedpink: #d1768f;
	--xkcd_boogergreen: #96b403;
	--xkcd_canary: #fdff63;
	--xkcd_coolgrey: #95a3a6;
	--xkcd_darktaupe: #7f684e;
	--xkcd_darkishpurple: #751973;
	--xkcd_truegreen: #089404;
	--xkcd_coralpink: #ff6163;
	--xkcd_darksage: #598556;
	--xkcd_darkslateblue: #214761;
	--xkcd_flatblue: #3c73a8;
	--xkcd_mushroom: #ba9e88;
	--xkcd_richblue: #021bf9;
	--xkcd_dirtypurple: #734a65;
	--xkcd_greenblue: #23c48b;
	--xkcd_ickygreen: #8fae22;
	--xkcd_lightkhaki: #e6f2a2;
	--xkcd_warmblue: #4b57db;
	--xkcd_darkhotpink: #d90166;
	--xkcd_deepseablue: #015482;
	--xkcd_carmine: #9d0216;
	--xkcd_darkyellowgreen: #728f02;
	--xkcd_palepeach: #ffe5ad;
	--xkcd_plumpurple: #4e0550;
	--xkcd_goldenrod: #f9bc08;
	--xkcd_neonred: #ff073a;
	--xkcd_oldpink: #c77986;
	--xkcd_verypaleblue: #d6fffe;
	--xkcd_bloodorange: #fe4b03;
	--xkcd_grapefruit: #fd5956;
	--xkcd_sandyellow: #fce166;
	--xkcd_claybrown: #b2713d;
	--xkcd_darkbluegrey: #1f3b4d;
	--xkcd_flatgreen: #699d4c;
	--xkcd_lightgreenblue: #56fca2;
	--xkcd_warmpink: #fb5581;
	--xkcd_dodgerblue: #3e82fc;
	--xkcd_grossgreen: #a0bf16;
	--xkcd_ice: #d6fffa;
	--xkcd_metallicblue: #4f738e;
	--xkcd_palesalmon: #ffb19a;
	--xkcd_sapgreen: #5c8b15;
	--xkcd_algae: #54ac68;
	--xkcd_blueygrey: #89a0b0;
	--xkcd_greenygrey: #7ea07a;
	--xkcd_highlightergreen: #1bfc06;
	--xkcd_lightlightblue: #cafffb;
	--xkcd_lightmint: #b6ffbb;
	--xkcd_rawumber: #a75e09;
	--xkcd_vividblue: #152eff;
	--xkcd_deeplavender: #8d5eb7;
	--xkcd_dullteal: #5f9e8f;
	--xkcd_lightgreenishblue: #63f7b4;
	--xkcd_mudgreen: #606602;
	--xkcd_pinky: #fc86aa;
	--xkcd_redwine: #8c0034;
	--xkcd_shitgreen: #758000;
	--xkcd_tanbrown: #ab7e4c;
	--xkcd_darkblue: #030764;
	--xkcd_rosa: #fe86a4;
	--xkcd_lipstick: #d5174e;
	--xkcd_palemauve: #fed0fc;
	--xkcd_claret: #680018;
	--xkcd_dandelion: #fedf08;
	--xkcd_orangered: #fe420f;
	--xkcd_poopgreen: #6f7c00;
	--xkcd_ruby: #ca0147;
	--xkcd_dark: #1b2431;
	--xkcd_greenishturquoise: #00fbb0;
	--xkcd_pastelred: #db5856;
	--xkcd_pissyellow: #ddd618;
	--xkcd_brightcyan: #41fdfe;
	--xkcd_darkcoral: #cf524e;
	--xkcd_algaegreen: #21c36f;
	--xkcd_darkishred: #a90308;
	--xkcd_reddybrown: #6e1005;
	--xkcd_blushpink: #fe828c;
	--xkcd_camouflagegreen: #4b6113;
	--xkcd_lawngreen: #4da409;
	--xkcd_putty: #beae8a;
	--xkcd_vibrantblue: #0339f8;
	--xkcd_darksand: #a88f59;
	--xkcd_purpleblue: #5d21d0;
	--xkcd_saffron: #feb209;
	--xkcd_twilight: #4e518b;
	--xkcd_warmbrown: #964e02;
	--xkcd_bluegrey: #85a3b2;
	--xkcd_bubblegumpink: #ff69af;
	--xkcd_duckeggblue: #c3fbf4;
	--xkcd_greenishcyan: #2afeb7;
	--xkcd_petrol: #005f6a;
	--xkcd_royal: #0c1793;
	--xkcd_butter: #ffff81;
	--xkcd_dustyorange: #f0833a;
	--xkcd_offyellow: #f1f33f;
	--xkcd_paleolivegreen: #b1d27b;
	--xkcd_orangish: #fc824a;
	--xkcd_leaf: #71aa34;
	--xkcd_lightbluegrey: #b7c9e2;
	--xkcd_driedblood: #4b0101;
	--xkcd_lightishpurple: #a552e6;
	--xkcd_rustyred: #af2f0d;
	--xkcd_lavenderblue: #8b88f8;
	--xkcd_lightgrassgreen: #9af764;
	--xkcd_lightmintgreen: #a6fbb2;
	--xkcd_sunflower: #ffc512;
	--xkcd_velvet: #750851;
	--xkcd_brickorange: #c14a09;
	--xkcd_lightishred: #fe2f4a;
	--xkcd_pureblue: #0203e2;
	--xkcd_twilightblue: #0a437a;
	--xkcd_violetred: #a50055;
	--xkcd_yellowybrown: #ae8b0c;
	--xkcd_carnation: #fd798f;
	--xkcd_muddyyellow: #bfac05;
	--xkcd_darkseafoamgreen: #3eaf76;
	--xkcd_deeprose: #c74767;
	--xkcd_dustyred: #b9484e;
	--xkcd_greyblue: #647d8e;
	--xkcd_lemonlime: #bffe28;
	--xkcd_purplepink: #d725de;
	--xkcd_brownyellow: #b29705;
	--xkcd_purplebrown: #673a3f;
	--xkcd_wisteria: #a87dc2;
	--xkcd_bananayellow: #fafe4b;
	--xkcd_lipstickred: #c0022f;
	--xkcd_waterblue: #0e87cc;
	--xkcd_browngrey: #8d8468;
	--xkcd_vibrantpurple: #ad03de;
	--xkcd_babygreen: #8cff9e;
	--xkcd_barfgreen: #94ac02;
	--xkcd_eggshellblue: #c4fff7;
	--xkcd_sandyyellow: #fdee73;
	--xkcd_coolgreen: #33b864;
	--xkcd_pale: #fff9d0;
	--xkcd_bluegrey: #758da3;
	--xkcd_hotmagenta: #f504c9;
	--xkcd_greyblue: #77a1b5;
	--xkcd_purpley: #8756e4;
	--xkcd_babyshitgreen: #889717;
	--xkcd_brownishpink: #c27e79;
	--xkcd_darkaquamarine: #017371;
	--xkcd_diarrhea: #9f8303;
	--xkcd_lightmustard: #f7d560;
	--xkcd_paleskyblue: #bdf6fe;
	--xkcd_turtlegreen: #75b84f;
	--xkcd_brightolive: #9cbb04;
	--xkcd_darkgreyblue: #29465b;
	--xkcd_greenybrown: #696006;
	--xkcd_lemongreen: #adf802;
	--xkcd_lightperiwinkle: #c1c6fc;
	--xkcd_seaweedgreen: #35ad6b;
	--xkcd_sunshineyellow: #fffd37;
	--xkcd_uglypurple: #a442a0;
	--xkcd_mediumpink: #f36196;
	--xkcd_pukebrown: #947706;
	--xkcd_verylightpink: #fff4f2;
	--xkcd_viridian: #1e9167;
	--xkcd_bile: #b5c306;
	--xkcd_fadedyellow: #feff7f;
	--xkcd_verypalegreen: #cffdbc;
	--xkcd_vibrantgreen: #0add08;
	--xkcd_brightlime: #87fd05;
	--xkcd_spearmint: #1ef876;
	--xkcd_lightaquamarine: #7bfdc7;
	--xkcd_lightsage: #bcecac;
	--xkcd_yellowgreen: #bbf90f;
	--xkcd_babypoo: #ab9004;
	--xkcd_darkseafoam: #1fb57a;
	--xkcd_deepteal: #00555a;
	--xkcd_heather: #a484ac;
	--xkcd_rustorange: #c45508;
	--xkcd_dirtyblue: #3f829d;
	--xkcd_ferngreen: #548d44;
	--xkcd_brightlilac: #c95efb;
	--xkcd_weirdgreen: #3ae57f;
	--xkcd_peacockblue: #016795;
	--xkcd_avocadogreen: #87a922;
	--xkcd_fadedorange: #f0944d;
	--xkcd_grapepurple: #5d1451;
	--xkcd_hotgreen: #25ff29;
	--xkcd_limeyellow: #d0fe1d;
	--xkcd_mango: #ffa62b;
	--xkcd_shamrock: #01b44c;
	--xkcd_bubblegum: #ff6cb5;
	--xkcd_purplishbrown: #6b4247;
	--xkcd_vomityellow: #c7c10c;
	--xkcd_palecyan: #b7fffa;
	--xkcd_keylime: #aeff6e;
	--xkcd_tomatored: #ec2d01;
	--xkcd_lightgreen: #76ff7b;
	--xkcd_merlot: #730039;
	--xkcd_nightblue: #040348;
	--xkcd_purpleishpink: #df4ec8;
	--xkcd_apple: #6ecb3c;
	--xkcd_babypoopgreen: #8f9805;
	--xkcd_greenapple: #5edc1f;
	--xkcd_heliotrope: #d94ff5;
	--xkcd_yellowgreen: #c8fd3d;
	--xkcd_almostblack: #070d0d;
	--xkcd_coolblue: #4984b8;
	--xkcd_leafygreen: #51b73b;
	--xkcd_mustardbrown: #ac7e04;
	--xkcd_dusk: #4e5481;
	--xkcd_dullbrown: #876e4b;
	--xkcd_froggreen: #58bc08;
	--xkcd_vividgreen: #2fef10;
	--xkcd_brightlightgreen: #2dfe54;
	--xkcd_flurogreen: #0aff02;
	--xkcd_kiwi: #9cef43;
	--xkcd_seaweed: #18d17b;
	--xkcd_navygreen: #35530a;
	--xkcd_ultramarineblue: #1805db;
	--xkcd_iris: #6258c4;
	--xkcd_pastelorange: #ff964f;
	--xkcd_yellowishorange: #ffab0f;
	--xkcd_perrywinkle: #8f8ce7;
	--xkcd_tealish: #24bca8;
	--xkcd_darkplum: #3f012c;
	--xkcd_pear: #cbf85f;
	--xkcd_pinkishorange: #ff724c;
	--xkcd_midnightpurple: #280137;
	--xkcd_lighturple: #b36ff6;
	--xkcd_darkmint: #48c072;
	--xkcd_greenishtan: #bccb7a;
	--xkcd_lightburgundy: #a8415b;
	--xkcd_turquoiseblue: #06b1c4;
	--xkcd_uglypink: #cd7584;
	--xkcd_sandy: #f1da7a;
	--xkcd_electricpink: #ff0490;
	--xkcd_mutedpurple: #805b87;
	--xkcd_midgreen: #50a747;
	--xkcd_greyish: #a8a495;
	--xkcd_neonyellow: #cfff04;
	--xkcd_banana: #ffff7e;
	--xkcd_carnationpink: #ff7fa7;
	--xkcd_tomato: #ef4026;
	--xkcd_sea: #3c9992;
	--xkcd_muddybrown: #886806;
	--xkcd_turquoisegreen: #04f489;
	--xkcd_buff: #fef69e;
	--xkcd_fawn: #cfaf7b;
	--xkcd_mutedblue: #3b719f;
	--xkcd_palerose: #fdc1c5;
	--xkcd_darkmintgreen: #20c073;
	--xkcd_amethyst: #9b5fc0;
	--xkcd_bluegreen: #0f9b8e;
	--xkcd_chestnut: #742802;
	--xkcd_sickgreen: #9db92c;
	--xkcd_pea: #a4bf20;
	--xkcd_rustyorange: #cd5909;
	--xkcd_stone: #ada587;
	--xkcd_rosered: #be013c;
	--xkcd_paleaqua: #b8ffeb;
	--xkcd_deeporange: #dc4d01;
	--xkcd_earth: #a2653e;
	--xkcd_mossygreen: #638b27;
	--xkcd_grassygreen: #419c03;
	--xkcd_palelimegreen: #b1ff65;
	--xkcd_lightgreyblue: #9dbcd4;
	--xkcd_palegrey: #fdfdfe;
	--xkcd_asparagus: #77ab56;
	--xkcd_blueberry: #464196;
	--xkcd_purplered: #990147;
	--xkcd_palelime: #befd73;
	--xkcd_greenishteal: #32bf84;
	--xkcd_caramel: #af6f09;
	--xkcd_deepmagenta: #a0025c;
	--xkcd_lightpeach: #ffd8b1;
	--xkcd_milkchocolate: #7f4e1e;
	--xkcd_ocher: #bf9b0c;
	--xkcd_offgreen: #6ba353;
	--xkcd_purplypink: #f075e6;
	--xkcd_lightblue: #7bc8f6;
	--xkcd_duskyblue: #475f94;
	--xkcd_golden: #f5bf03;
	--xkcd_lightbeige: #fffeb6;
	--xkcd_butteryellow: #fffd74;
	--xkcd_duskypurple: #895b7b;
	--xkcd_frenchblue: #436bad;
	--xkcd_uglyyellow: #d0c101;
	--xkcd_greenyyellow: #c6f808;
	--xkcd_orangishred: #f43605;
	--xkcd_shamrockgreen: #02c14d;
	--xkcd_orangishbrown: #b25f03;
	--xkcd_treegreen: #2a7e19;
	--xkcd_deepviolet: #490648;
	--xkcd_gunmetal: #536267;
	--xkcd_bluepurple: #5a06ef;
	--xkcd_cherry: #cf0234;
	--xkcd_sandybrown: #c4a661;
	--xkcd_warmgrey: #978a84;
	--xkcd_darkindigo: #1f0954;
	--xkcd_midnight: #03012d;
	--xkcd_blueygreen: #2bb179;
	--xkcd_greypink: #c3909b;
	--xkcd_softpurple: #a66fb5;
	--xkcd_blood: #770001;
	--xkcd_brownred: #922b05;
	--xkcd_mediumgrey: #7d7f7c;
	--xkcd_berry: #990f4b;
	--xkcd_poo: #8f7303;
	--xkcd_purpleypink: #c83cb9;
	--xkcd_lightsalmon: #fea993;
	--xkcd_snot: #acbb0d;
	--xkcd_easterpurple: #c071fe;
	--xkcd_lightyellowgreen: #ccfd7f;
	--xkcd_darknavyblue: #00022e;
	--xkcd_drab: #828344;
	--xkcd_lightrose: #ffc5cb;
	--xkcd_rouge: #ab1239;
	--xkcd_purplishred: #b0054b;
	--xkcd_slimegreen: #99cc04;
	--xkcd_babypoop: #937c00;
	--xkcd_irishgreen: #019529;
	--xkcd_pinkpurple: #ef1de7;
	--xkcd_darknavy: #000435;
	--xkcd_greenyblue: #42b395;
	--xkcd_lightplum: #9d5783;
	--xkcd_pinkishgrey: #c8aca9;
	--xkcd_dirtyorange: #c87606;
	--xkcd_rustred: #aa2704;
	--xkcd_palelilac: #e4cbff;
	--xkcd_orangeyred: #fa4224;
	--xkcd_primaryblue: #0804f9;
	--xkcd_kermitgreen: #5cb200;
	--xkcd_brownishpurple: #76424e;
	--xkcd_murkygreen: #6c7a0e;
	--xkcd_wheat: #fbdd7e;
	--xkcd_verydarkpurple: #2a0134;
	--xkcd_bottlegreen: #044a05;
	--xkcd_watermelon: #fd4659;
	--xkcd_deepskyblue: #0d75f8;
	--xkcd_fireenginered: #fe0002;
	--xkcd_yellowochre: #cb9d06;
	--xkcd_pumpkinorange: #fb7d07;
	--xkcd_paleolive: #b9cc81;
	--xkcd_lightlilac: #edc8ff;
	--xkcd_lightishgreen: #61e160;
	--xkcd_carolinablue: #8ab8fe;
	--xkcd_mulberry: #920a4e;
	--xkcd_shockingpink: #fe02a2;
	--xkcd_auburn: #9a3001;
	--xkcd_brightlimegreen: #65fe08;
	--xkcd_celadon: #befdb7;
	--xkcd_pinkishbrown: #b17261;
	--xkcd_poobrown: #885f01;
	--xkcd_brightskyblue: #02ccfe;
	--xkcd_celery: #c1fd95;
	--xkcd_dirtbrown: #836539;
	--xkcd_strawberry: #fb2943;
	--xkcd_darklime: #84b701;
	--xkcd_copper: #b66325;
	--xkcd_mediumbrown: #7f5112;
	--xkcd_mutedgreen: #5fa052;
	--xkcd_robinsegg: #6dedfd;
	--xkcd_brightaqua: #0bf9ea;
	--xkcd_brightlavender: #c760ff;
	--xkcd_ivory: #ffffcb;
	--xkcd_verylightpurple: #f6cefc;
	--xkcd_lightnavy: #155084;
	--xkcd_pinkred: #f5054f;
	--xkcd_olivebrown: #645403;
	--xkcd_poopbrown: #7a5901;
	--xkcd_mustardgreen: #a8b504;
	--xkcd_oceangreen: #3d9973;
	--xkcd_verydarkblue: #000133;
	--xkcd_dustygreen: #76a973;
	--xkcd_lightnavyblue: #2e5a88;
	--xkcd_mintygreen: #0bf77d;
	--xkcd_adobe: #bd6c48;
	--xkcd_barney: #ac1db8;
	--xkcd_jadegreen: #2baf6a;
	--xkcd_brightlightblue: #26f7fd;
	--xkcd_lightlime: #aefd6c;
	--xkcd_darkkhaki: #9b8f55;
	--xkcd_orangeyellow: #ffad01;
	--xkcd_ocre: #c69c04;
	--xkcd_maize: #f4d054;
	--xkcd_fadedpink: #de9dac;
	--xkcd_britishracinggreen: #05480d;
	--xkcd_sandstone: #c9ae74;
	--xkcd_mudbrown: #60460f;
	--xkcd_lightseagreen: #98f6b0;
	--xkcd_robineggblue: #8af1fe;
	--xkcd_aquamarine: #2ee8bb;
	--xkcd_darkseagreen: #11875d;
	--xkcd_softpink: #fdb0c0;
	--xkcd_orangeybrown: #b16002;
	--xkcd_cherryred: #f7022a;
	--xkcd_burntyellow: #d5ab09;
	--xkcd_brownishgrey: #86775f;
	--xkcd_camel: #c69f59;
	--xkcd_purplishgrey: #7a687f;
	--xkcd_marine: #042e60;
	--xkcd_greyishpink: #c88d94;
	--xkcd_paleturquoise: #a5fbd5;
	--xkcd_pastelyellow: #fffe71;
	--xkcd_blueypurple: #6241c7;
	--xkcd_canaryyellow: #fffe40;
	--xkcd_fadedred: #d3494e;
	--xkcd_sepia: #985e2b;
	--xkcd_coffee: #a6814c;
	--xkcd_brightmagenta: #ff08e8;
	--xkcd_mocha: #9d7651;
	--xkcd_ecru: #feffca;
	--xkcd_purpleish: #98568d;
	--xkcd_cranberry: #9e003a;
	--xkcd_darkishgreen: #287c37;
	--xkcd_brownorange: #b96902;
	--xkcd_duskyrose: #ba6873;
	--xkcd_melon: #ff7855;
	--xkcd_sicklygreen: #94b21c;
	--xkcd_silver: #c5c9c7;
	--xkcd_purplyblue: #661aee;
	--xkcd_purpleishblue: #6140ef;
	--xkcd_hospitalgreen: #9be5aa;
	--xkcd_shitbrown: #7b5804;
	--xkcd_midblue: #276ab3;
	--xkcd_amber: #feb308;
	--xkcd_eastergreen: #8cfd7e;
	--xkcd_softblue: #6488ea;
	--xkcd_ceruleanblue: #056eee;
	--xkcd_goldenbrown: #b27a01;
	--xkcd_brightturquoise: #0ffef9;
	--xkcd_redpink: #fa2a55;
	--xkcd_redpurple: #820747;
	--xkcd_greyishbrown: #7a6a4f;
	--xkcd_vermillion: #f4320c;
	--xkcd_russet: #a13905;
	--xkcd_steelgrey: #6f828a;
	--xkcd_lighterpurple: #a55af4;
	--xkcd_brightviolet: #ad0afd;
	--xkcd_prussianblue: #004577;
	--xkcd_slategreen: #658d6d;
	--xkcd_dirtypink: #ca7b80;
	--xkcd_darkbluegreen: #005249;
	--xkcd_pine: #2b5d34;
	--xkcd_yellowygreen: #bff128;
	--xkcd_darkgold: #b59410;
	--xkcd_bluish: #2976bb;
	--xkcd_darkishblue: #014182;
	--xkcd_dullred: #bb3f3f;
	--xkcd_pinkyred: #fc2647;
	--xkcd_bronze: #a87900;
	--xkcd_paleteal: #82cbb2;
	--xkcd_militarygreen: #667c3e;
	--xkcd_barbiepink: #fe46a5;
	--xkcd_bubblegumpink: #fe83cc;
	--xkcd_peasoupgreen: #94a617;
	--xkcd_darkmustard: #a88905;
	--xkcd_shit: #7f5f00;
	--xkcd_mediumpurple: #9e43a2;
	--xkcd_verydarkgreen: #062e03;
	--xkcd_dirt: #8a6e45;
	--xkcd_duskypink: #cc7a8b;
	--xkcd_redviolet: #9e0168;
	--xkcd_lemonyellow: #fdff38;
	--xkcd_pistachio: #c0fa8b;
	--xkcd_dullyellow: #eedc5b;
	--xkcd_darklimegreen: #7ebd01;
	--xkcd_denimblue: #3b5b92;
	--xkcd_tealblue: #01889f;
	--xkcd_lightishblue: #3d7afd;
	--xkcd_purpleyblue: #5f34e7;
	--xkcd_lightindigo: #6d5acf;
	--xkcd_swampgreen: #748500;
	--xkcd_browngreen: #706c11;
	--xkcd_darkmaroon: #3c0008;
	--xkcd_hotpurple: #cb00f5;
	--xkcd_darkforestgreen: #002d04;
	--xkcd_fadedblue: #658cbb;
	--xkcd_drabgreen: #749551;
	--xkcd_lightlimegreen: #b9ff66;
	--xkcd_snotgreen: #9dc100;
	--xkcd_yellowish: #faee66;
	--xkcd_lightbluegreen: #7efbb3;
	--xkcd_bordeaux: #7b002c;
	--xkcd_lightmauve: #c292a1;
	--xkcd_ocean: #017b92;
	--xkcd_marigold: #fcc006;
	--xkcd_muddygreen: #657432;
	--xkcd_dullorange: #d8863b;
	--xkcd_steel: #738595;
	--xkcd_electricpurple: #aa23ff;
	--xkcd_fluorescentgreen: #08ff08;
	--xkcd_yellowishbrown: #9b7a01;
	--xkcd_blush: #f29e8e;
	--xkcd_softgreen: #6fc276;
	--xkcd_brightorange: #ff5b00;
	--xkcd_lemon: #fdff52;
	--xkcd_purplegrey: #866f85;
	--xkcd_acidgreen: #8ffe09;
	--xkcd_palelavender: #eecffe;
	--xkcd_violetblue: #510ac9;
	--xkcd_lightforestgreen: #4f9153;
	--xkcd_burntred: #9f2305;
	--xkcd_khakigreen: #728639;
	--xkcd_cerise: #de0c62;
	--xkcd_fadedpurple: #916e99;
	--xkcd_apricot: #ffb16d;
	--xkcd_darkolivegreen: #3c4d03;
	--xkcd_greybrown: #7f7053;
	--xkcd_greengrey: #77926f;
	--xkcd_trueblue: #010fcc;
	--xkcd_paleviolet: #ceaefa;
	--xkcd_periwinkleblue: #8f99fb;
	--xkcd_lightskyblue: #c6fcff;
	--xkcd_blurple: #5539cc;
	--xkcd_greenbrown: #544e03;
	--xkcd_bluegreen: #017a79;
	--xkcd_brightteal: #01f9c6;
	--xkcd_brownishyellow: #c9b003;
	--xkcd_peasoup: #929901;
	--xkcd_forest: #0b5509;
	--xkcd_barneypurple: #a00498;
	--xkcd_ultramarine: #2000b1;
	--xkcd_purplish: #94568c;
	--xkcd_pukeyellow: #c2be0e;
	--xkcd_bluishgrey: #748b97;
	--xkcd_darkperiwinkle: #665fd1;
	--xkcd_darklilac: #9c6da5;
	--xkcd_reddish: #c44240;
	--xkcd_lightmaroon: #a24857;
	--xkcd_dustypurple: #825f87;
	--xkcd_terracotta: #c9643b;
	--xkcd_avocado: #90b134;
	--xkcd_marineblue: #01386a;
	--xkcd_tealgreen: #25a36f;
	--xkcd_slategrey: #59656d;
	--xkcd_lightergreen: #75fd63;
	--xkcd_electricgreen: #21fc0d;
	--xkcd_dustyblue: #5a86ad;
	--xkcd_goldenyellow: #fec615;
	--xkcd_brightyellow: #fffd01;
	--xkcd_lightlavender: #dfc5fe;
	--xkcd_umber: #b26400;
	--xkcd_poop: #7f5e00;
	--xkcd_darkpeach: #de7e5d;
	--xkcd_junglegreen: #048243;
	--xkcd_eggshell: #ffffd4;
	--xkcd_denim: #3b638c;
	--xkcd_yellowbrown: #b79400;
	--xkcd_dullpurple: #84597e;
	--xkcd_chocolatebrown: #411900;
	--xkcd_winered: #7b0323;
	--xkcd_neonblue: #04d9ff;
	--xkcd_dirtygreen: #667e2c;
	--xkcd_lighttan: #fbeeac;
	--xkcd_iceblue: #d7fffe;
	--xkcd_cadetblue: #4e7496;
	--xkcd_darkmauve: #874c62;
	--xkcd_verylightblue: #d5ffff;
	--xkcd_greypurple: #826d8c;
	--xkcd_pastelpink: #ffbacd;
	--xkcd_verylightgreen: #d1ffbd;
	--xkcd_darkskyblue: #448ee4;
	--xkcd_evergreen: #05472a;
	--xkcd_dullpink: #d5869d;
	--xkcd_aubergine: #3d0734;
	--xkcd_mahogany: #4a0100;
	--xkcd_reddishorange: #f8481c;
	--xkcd_deepgreen: #02590f;
	--xkcd_vomitgreen: #89a203;
	--xkcd_purplepink: #e03fd8;
	--xkcd_dustypink: #d58a94;
	--xkcd_fadedgreen: #7bb274;
	--xkcd_camogreen: #526525;
	--xkcd_pinkypurple: #c94cbe;
	--xkcd_pinkpurple: #db4bda;
	--xkcd_brownishred: #9e3623;
	--xkcd_darkrose: #b5485d;
	--xkcd_mud: #735c12;
	--xkcd_brownish: #9c6d57;
	--xkcd_emeraldgreen: #028f1e;
	--xkcd_palebrown: #b1916e;
	--xkcd_dullblue: #49759c;
	--xkcd_burntumber: #a0450e;
	--xkcd_mediumgreen: #39ad48;
	--xkcd_clay: #b66a50;
	--xkcd_lightaqua: #8cffdb;
	--xkcd_lightolivegreen: #a4be5c;
	--xkcd_brownishorange: #cb7723;
	--xkcd_darkaqua: #05696b;
	--xkcd_purplishpink: #ce5dae;
	--xkcd_darksalmon: #c85a53;
	--xkcd_greenishgrey: #96ae8d;
	--xkcd_jade: #1fa774;
	--xkcd_uglygreen: #7a9703;
	--xkcd_darkbeige: #ac9362;
	--xkcd_emerald: #01a049;
	--xkcd_palered: #d9544d;
	--xkcd_lightmagenta: #fa5ff7;
	--xkcd_sky: #82cafc;
	--xkcd_lightcyan: #acfffc;
	--xkcd_yelloworange: #fcb001;
	--xkcd_reddishpurple: #910951;
	--xkcd_reddishpink: #fe2c54;
	--xkcd_orchid: #c875c4;
	--xkcd_dirtyyellow: #cdc50a;
	--xkcd_orangered: #fd411e;
	--xkcd_deepred: #9a0200;
	--xkcd_orangebrown: #be6400;
	--xkcd_cobaltblue: #030aa7;
	--xkcd_neonpink: #fe019a;
	--xkcd_rosepink: #f7879a;
	--xkcd_greyishpurple: #887191;
	--xkcd_raspberry: #b00149;
	--xkcd_aquagreen: #12e193;
	--xkcd_salmonpink: #fe7b7c;
	--xkcd_tangerine: #ff9408;
	--xkcd_brownishgreen: #6a6e09;
	--xkcd_redbrown: #8b2e16;
	--xkcd_greenishbrown: #696112;
	--xkcd_pumpkin: #e17701;
	--xkcd_pinegreen: #0a481e;
	--xkcd_charcoal: #343837;
	--xkcd_babypink: #ffb7ce;
	--xkcd_cornflower: #6a79f7;
	--xkcd_blueviolet: #5d06e9;
	--xkcd_chocolate: #3d1c02;
	--xkcd_greyishgreen: #82a67d;
	--xkcd_scarlet: #be0119;
	--xkcd_greenyellow: #c9ff27;
	--xkcd_darkolive: #373e02;
	--xkcd_sienna: #a9561e;
	--xkcd_pastelpurple: #caa0ff;
	--xkcd_terracotta: #ca6641;
	--xkcd_aquablue: #02d8e9;
	--xkcd_sagegreen: #88b378;
	--xkcd_bloodred: #980002;
	--xkcd_deeppink: #cb0162;
	--xkcd_grass: #5cac2d;
	--xkcd_moss: #769958;
	--xkcd_pastelblue: #a2bffe;
	--xkcd_bluishgreen: #10a674;
	--xkcd_greenblue: #06b48b;
	--xkcd_darktan: #af884a;
	--xkcd_greenishblue: #0b8b87;
	--xkcd_paleorange: #ffa756;
	--xkcd_vomit: #a2a415;
	--xkcd_forrestgreen: #154406;
	--xkcd_darklavender: #856798;
	--xkcd_darkviolet: #34013f;
	--xkcd_purpleblue: #632de9;
	--xkcd_darkcyan: #0a888a;
	--xkcd_olivedrab: #6f7632;
	--xkcd_pinkish: #d46a7e;
	--xkcd_cobalt: #1e488f;
	--xkcd_neonpurple: #bc13fe;
	--xkcd_lightturquoise: #7ef4cc;
	--xkcd_applegreen: #76cd26;
	--xkcd_dullgreen: #74a662;
	--xkcd_wine: #80013f;
	--xkcd_powderblue: #b1d1fc;
	--xkcd_offwhite: #ffffe4;
	--xkcd_electricblue: #0652ff;
	--xkcd_darkturquoise: #045c5a;
	--xkcd_bluepurple: #5729ce;
	--xkcd_azure: #069af3;
	--xkcd_brightred: #ff000d;
	--xkcd_pinkishred: #f10c45;
	--xkcd_cornflowerblue: #5170d7;
	--xkcd_lightolive: #acbf69;
	--xkcd_grape: #6c3461;
	--xkcd_greyishblue: #5e819d;
	--xkcd_purplishblue: #601ef9;
	--xkcd_yellowishgreen: #b0dd16;
	--xkcd_greenishyellow: #cdfd02;
	--xkcd_mediumblue: #2c6fbb;
	--xkcd_dustyrose: #c0737a;
	--xkcd_lightviolet: #d6b4fc;
	--xkcd_midnightblue: #020035;
	--xkcd_bluishpurple: #703be7;
	--xkcd_redorange: #fd3c06;
	--xkcd_darkmagenta: #960056;
	--xkcd_greenish: #40a368;
	--xkcd_oceanblue: #03719c;
	--xkcd_coral: #fc5a50;
	--xkcd_cream: #ffffc2;
	--xkcd_reddishbrown: #7f2b0a;
	--xkcd_burntsienna: #b04e0f;
	--xkcd_brick: #a03623;
	--xkcd_sage: #87ae73;
	--xkcd_greygreen: #789b73;
	--xkcd_white: #ffffff;
	--xkcd_robinseggblue: #98eff9;
	--xkcd_mossgreen: #658b38;
	--xkcd_steelblue: #5a7d9a;
	--xkcd_eggplant: #380835;
	--xkcd_lightyellow: #fffe7a;
	--xkcd_leafgreen: #5ca904;
	--xkcd_lightgrey: #d8dcd6;
	--xkcd_puke: #a5a502;
	--xkcd_pinkishpurple: #d648d7;
	--xkcd_seablue: #047495;
	--xkcd_palepurple: #b790d4;
	--xkcd_slateblue: #5b7c99;
	--xkcd_bluegrey: #607c8e;
	--xkcd_huntergreen: #0b4008;
	--xkcd_fuchsia: #ed0dd9;
	--xkcd_crimson: #8c000f;
	--xkcd_paleyellow: #ffff84;
	--xkcd_ochre: #bf9005;
	--xkcd_mustardyellow: #d2bd0a;
	--xkcd_lightred: #ff474c;
	--xkcd_cerulean: #0485d1;
	--xkcd_palepink: #ffcfdc;
	--xkcd_deepblue: #040273;
	--xkcd_rust: #a83c09;
	--xkcd_lightteal: #90e4c1;
	--xkcd_slate: #516572;
	--xkcd_goldenrod: #fac205;
	--xkcd_darkyellow: #d5b60a;
	--xkcd_darkgrey: #363737;
	--xkcd_armygreen: #4b5d16;
	--xkcd_greyblue: #6b8ba4;
	--xkcd_seafoam: #80f9ad;
	--xkcd_puce: #a57e52;
	--xkcd_springgreen: #a9f971;
	--xkcd_darkorange: #c65102;
	--xkcd_sand: #e2ca76;
	--xkcd_pastelgreen: #b0ff9d;
	--xkcd_mint: #9ffeb0;
	--xkcd_lightorange: #fdaa48;
	--xkcd_brightpink: #fe01b1;
	--xkcd_chartreuse: #c1f80a;
	--xkcd_deeppurple: #36013f;
	--xkcd_darkbrown: #341c02;
	--xkcd_taupe: #b9a281;
	--xkcd_peagreen: #8eab12;
	--xkcd_pukegreen: #9aae07;
	--xkcd_kellygreen: #02ab2e;
	--xkcd_seafoamgreen: #7af9ab;
	--xkcd_bluegreen: #137e6d;
	--xkcd_khaki: #aaa662;
	--xkcd_burgundy: #610023;
	--xkcd_darkteal: #014d4e;
	--xkcd_brickred: #8f1402;
	--xkcd_royalpurple: #4b006e;
	--xkcd_plum: #580f41;
	--xkcd_mintgreen: #8fff9f;
	--xkcd_gold: #dbb40c;
	--xkcd_babyblue: #a2cffe;
	--xkcd_yellowgreen: #c0fb2d;
	--xkcd_brightpurple: #be03fd;
	--xkcd_darkred: #840000;
	--xkcd_paleblue: #d0fefe;
	--xkcd_grassgreen: #3f9b0b;
	--xkcd_navy: #01153e;
	--xkcd_aquamarine: #04d8b2;
	--xkcd_burntorange: #c04e01;
	--xkcd_neongreen: #0cff0c;
	--xkcd_brightblue: #0165fc;
	--xkcd_rose: #cf6275;
	--xkcd_lightpink: #ffd1df;
	--xkcd_mustard: #ceb301;
	--xkcd_indigo: #380282;
	--xkcd_lime: #aaff32;
	--xkcd_seagreen: #53fca1;
	--xkcd_periwinkle: #8e82fe;
	--xkcd_darkpink: #cb416b;
	--xkcd_olivegreen: #677a04;
	--xkcd_peach: #ffb07c;
	--xkcd_palegreen: #c7fdb5;
	--xkcd_lightbrown: #ad8150;
	--xkcd_hotpink: #ff028d;
	--xkcd_black: #000000;
	--xkcd_lilac: #cea2fd;
	--xkcd_navyblue: #001146;
	--xkcd_royalblue: #0504aa;
	--xkcd_beige: #e6daa6;
	--xkcd_salmon: #ff796c;
	--xkcd_olive: #6e750e;
	--xkcd_maroon: #650021;
	--xkcd_brightgreen: #01ff07;
	--xkcd_darkpurple: #35063e;
	--xkcd_mauve: #ae7181;
	--xkcd_forestgreen: #06470c;
	--xkcd_aqua: #13eac9;
	--xkcd_cyan: #00ffff;
	--xkcd_tan: #d1b26f;
	--xkcd_darkblue: #00035b;
	--xkcd_lavender: #c79fef;
	--xkcd_turquoise: #06c2ac;
	--xkcd_darkgreen: #033500;
	--xkcd_violet: #9a0eea;
	--xkcd_lightpurple: #bf77f6;
	--xkcd_limegreen: #89fe05;
	--xkcd_grey: #929591;
	--xkcd_skyblue: #75bbfd;
	--xkcd_yellow: #ffff14;
	--xkcd_magenta: #c20078;
	--xkcd_lightgreen: #96f97b;
	--xkcd_orange: #f97306;
	--xkcd_teal: #029386;
	--xkcd_lightblue: #95d0fc;
	--xkcd_red: #e50000;
	--xkcd_brown: #653700;
	--xkcd_pink: #ff81c0;
	--xkcd_blue: #0343df;
	--xkcd_green: #15b01a;
	--xkcd_purple: #7e1e9c;
}